<!DOCTYPE html>

<html>
  <head>
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="icon" href="/img/weather.png" />
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <p>This site was created by Marvin Castaños. It uses data from mapbox.com and weatherstack.com</p>
    </div>
    <img class="portrait"src='/img/robot.jpg'>
    {{>footer}}
  </body>
</html>
